body {
    background-color: #f4f4f4;
}

.main-logged-in {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 50px auto;
    max-width: 1000px;
}

.calendar {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.health-data-table {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

.health-data-table table {
    width: 100%;
    margin-bottom: 40px;
}

.health-data-table th,
.health-data-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.health-data-table th {
    background-color: #f2f2f2;
}

.health-data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.health-data-table tbody tr:hover {
    background-color: #573b8a;
    color: white;
}

.workout-page-button {
    color: #fff;
    font-weight: bold;
    background-color: #573b8a;
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.workout-table {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    width: 100%;
}

.workout-table table {
    width: 100%;
    margin-bottom: 50px;
}

.workout-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.workout-table th,
.workout-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.workout-table th {
    background-color: #f2f2f2;
}

.workout-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.workout-table tbody tr:hover {
    background-color: #573b8a;
    color: white;
}
@media (max-width: 768px) {
    .main-logged-in {
        grid-template-columns: 1fr;
    }

    .calendar {
        grid-row: auto;
        grid-column: auto;
    }
}
